<div class="game_info">
  <div class="bet">
    <%= "$#{game.bet.to_i} #{t("challenge_from")}" %>
  </div>
  <%= render partial: 'users/user', locals: {user: game.user} %>
  <div class="clearfix"></div>
</div>