<div class="game_info">
  <div class="bet">
    <%= "Challenge of $#{game.bet.to_i} from" %>
  </div>
  <%= render partial: 'users/user', locals: {user: game.user} %>
  <div class="clearfix"></div>
</div>