// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.game_box {
  margin: 50px;
}
.game {
  background: #ccffff;
}
div.zero {
  background: #000000;
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 4px 4px 4px 4px;
}
div.block {
  float: left;
}
div.row {
  clear: both;
}
.left, .right, .up, .down {
  background: #ffffff;
}
.marked {
  background: #000000;
}
.marking {
  background: #00ff00;
}
div.left {
  float: left;
  width: 8px;
  height: 30px;
  clear:both;
}
div.right {
  float: left;
  width: 8px;
  height: 30px;
}
div.mid {
  text-align: center;
  float: left;
  width: 30px;
  height: 30px;
}
div.up {
  float: left;
  width: 30px;
  height: 8px;
}
div.down {
  float: left;
  width: 30px;
  height: 8px;
}

.won, .lost {
  font-size: 150%;
}